<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.deparse.documentviewer">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".DocumentViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
    </application>

</manifest>
